.sidebar-li {background-color: #2B2C3E;color: white;text-align: center;border: 1px solid #000000;cursor: pointer}
.sidebar-a {color: white;text-decoration: none;}
.sidebar-a:visited {color: white}
.sidebar-a:hover {font-size: 16px;font-weight: 700}
.mianban {
    float: right;
    width: 85%;
}
#PositionCenterInformation {
    float: right;
    height: 100%;
    width: 90%;
}
.float-left {
    float: left;
}
.passwordError {
    border: 1px solid red;
}
.imgClass {
    float: left;
    height: 100%;
    width: 100%;
}